*{
    margin: 0px;
    padding: 0px;
}
/*creation des propietees*/
.inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ajustage{
    background-size: cover;
    background-repeat: no-repeat;
}
.police-degradé{
    font-size: 1.3vw;
    line-height: 2vw;

    color: rgba(0, 0, 0, 0.447);
}
.police-p{
    font-size: 1.3vw;
    line-height: 2vw;
}
.orange{
    color: #ED7F10;
    font-size: 1.3vw;
    letter-spacing: 2px;
}
.titre{
    font-size: 4vw;
}
.titre1{
    font-size: 3vw;
}
.sous-titre{
    font-size: 2vw;
}
.sous-titre1{
    font-size: 1.5vw;
    color: black;
}
.reseaux{
    height: 4vw;
    width: 4vw;
}
.reseaux1{
    height: 2.7vw;
    width: 2.7vw;
}
/*fin de le creation des proprietees*/
/*debut des hovers*/
.rose:hover{
    background-color: #FC0FC0;
    border: 3px solid #A9EAFE;
    transition: 0.5s;
    cursor: pointer;
}
.bonne:hover{
    background-color: #007CB0;
    cursor: pointer;
    border: 4px solid #A9EAFE;
    transition: 0.5s;
}
li:hover{
    background-color: #007CB0;
    cursor: pointer;
    transition: 0.5s;
}
.rectangle:hover{
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
    transition: 0.5s;
    background-color: rgba(187, 187, 187, 0.064);
    cursor: pointer;
}
.image-a1:hover{
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
    transition: 0.5s;
    background-color: rgba(187, 187, 187, 0.064);
    cursor: pointer;
}
.facebook2:hover{
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
    transition: 0.5s;
    background-color: rgba(187, 187, 187, 0.064);
    cursor: pointer;
    background-color: white;
}
.linkeding:hover{
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
    transition: 0.5s;
    background-color: rgba(187, 187, 187, 0.064);
    cursor: pointer;
    background-color: white;
}
.temoignage-a-G1:hover{
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
    transition: 0.5s;
    background-color: rgba(187, 187, 187, 0.064);
    cursor: pointer;
}

/*fin des hovers*/

/* creation des composants*/
.bouton1{
    padding: 0.6vw;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
.rectangle{
    padding-left: 3vw;
    height: 28vw;
    width: 21vw;
    border-radius: 2vw;
    align-items: flex-start;
    justify-content: space-evenly;
}
.rectangle1{
    height: 12vw;
    width: 27vw;
}
.rectangle2{
    padding-left: 1vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    height: 8vw;
    width: 19vw;
}
.cercle1{
    height: 10vw;
    width: 10vw;
    border: 0.6vw solid rgba(0, 0, 0, 0.615);
    border-radius: 100%;
}
.cercle2{
    height: 5vw;
    width: 5vw;
    border: 0.4vw solid rgba(0, 0, 0, 0.615);
    border-radius: 100%;
    cursor: pointer;
}
.icon-service{
    height: 5vw;
    width: 5vw;
}
.icon-valeure{
    height: 2vw;
    width: 2vw;
}
.icon-services{
    height: 4vw;
    width: 4vw;
}
.icon-abonner{
    height: 7vw;
    width: 7vw;
}
.image-a1{
    height: 94%;
    width: 47%;
}
.icone-header{
    height: 3vw;
    width: 3vw;
    border: none;
    border-radius: 100%;
    background-color: #555879;
}
/*fin des composants*/


/*debut du header*/
header{
    height: 47vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('image/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vw;
    width: 100vw;
}
.logo{
    height: 8vw;
    width: 14vw;
    cursor: pointer;
    transform: translateX(4vw);
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vw;
    transform: translateX(8vw);
}
li{
    list-style-type: none;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
}
.b1{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    color: white;
    transform: translateX(10.5vw);
}
.p1{
    color: white;
    transform: translateX(5.5vw);
    cursor: pointer;
}
.langue{
    cursor: pointer;
    height: 1.5vw;
    width: 1.5vw;
}
select{
    color: white;
    background-color: transparent;
    border: none;
    transform: translateX(-6vw);
    cursor: pointer;
}
/*fin de la nav bar*/


/*contenair header*/
.contenaire-header{
    height: 38vw;
    width: 100vw;
}
.header-a{
    height: 34vw;
    width: 100vw;
    justify-content: space-evenly;
}
.header-a-gauche{
    height: 30vw;
    width: 40vw;
    align-items: flex-start;
}
.header-a-droite{
    height: 30vw;
    width: 40vw;
    cursor: progress;
}
.h1-head{
    color: white;
}
.p-header{
    color: white;
}
.bas-header{
    width: 30vw;
}
.button-heder{
    color: white;
}
.play{
    height: 3vw;
    width: 3vw;
    border: 0.1vw solid whitesmoke;
    cursor: pointer;
    border-radius: 100%;
    background-color: #555879;
    transform: translateX(1vw);
}
#i-play{
    color: white;
}

.p-bas-header{
    color: white;
    width: 10vw;
}

.header-a-droite{
    height: 34vw;
    width: 40vw;
    background-image: url('image/Group\ 14.png');
}

.header-b{
    height: 4vw;
    width: 100vw;
    justify-content: flex-end;
}
.facebook{
    transform: translateX(-8vw);
}
.twitter{
    transform: translateX(-7.5vw);
}
.instagram{
    transform: translateX(-7vw);
}
i{
    color: white;
}
/*fin du header*/


/*debut section strategie*/
.strategie{
    height: 46vw;
    width: 100vw;
}
.strategie-G{
    height: 46vw;
    width: 45vw;
    cursor: progress;
}
.strategie-G1{
    position: relative;
    height: 30vw;
    width: 26vw;
    border-radius: 2vw;
    background-color: #ECEDF3;
}
.img-strategie{
    position: absolute;
    height: 25vw;
    width: 38vw;
    left: -4vw;
    top: 4vw;
}
.strategie-D{
    justify-content: space-evenly;
    align-items: flex-start;
    height: 30vw;
    width: 45vw;
}
/*fin section strategie*/


/*debut section services*/
.services{
    height: 46vw;
    width: 100vw;
}
.services-a{
    height: 10vw;
    width: 80vw;
}
.services-b{
    height: 36vw;
    width: 75vw;
    transform: translateX(-5vw);
}
.anal{
    border: 0.6vw solid #FAB472;
}
.planif{
    border: 0.6vw solid #E963A4;
}
.market{
    border: 0.6vw solid #B4C7E7;
}
/*fin section services*/


/*debut section valeure*/
.valeure{
    height: 46vw;
    width: 100vw;
}
.h4-valeure{
    width: 85vw;
    height: 5vw;
    padding-left: 3vw;
    justify-content: flex-start;
}
.valeureb{
    height: 42vw;
    width: 100vw;
    justify-content: flex-start;
}
.valeureb1{
    height: 15vw;
    width: 83vw;
}
.valeureb2{
    height: 15vw;
    width: 83vw;
}
.traffi1{border: 0.4vw solid #74A2D6;}
.reputation1{border: 0.4vw solid  #F7D06F;}
.conversion1{border: 0.4vw solid #EF86B0;}
.Customers1{border: 0.4vw solid #B4C7E7;}
.Marketing1{border: 0.4vw solid #74A2D6;}
.Digita1{border: 0.4vw solid #F7D06F;}
/*fin section valeure*/


/*debut section gris*/
.gris{
    height: 110vw;
    width: 100vw;
    justify-content: space-evenly;
    background-color: #ECEDF3;
    border-radius: 30px;
}
.mission{
    height: 30vw;
    width: 90%;
}
.mission-G{
    height: 20vw;
    width: 45%;
    padding-left: 2vw;
    align-items: flex-start;
    justify-content: space-evenly;
}
.mission-D{
    height: 90%;
    position: relative;
    width: 35%;
    right: 2vw;
    border-radius: 20px;
    background-color: #DDDFEB;
}
.mission-D-A{
    position: absolute;
    height: 20vw;
    width: 35vw;
    right: 5vw;
    border-radius: 20px;
    background-color: white;
}

.projet{
    height: 55vw;
    width: 100%;
}
.projet-a{
    height: 8vw;
    width: 90%;
}
.img-projet1{
    transform: rotateZ(180deg);
}
.projet-b{
    height: 40vw;
    width: 90%;
}
.projet-b-G{
    height: 35vw;
    width: 38vw;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    background-image: url('image/seo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.projet-b-D{
    height: 35vw;
    width: 38vw;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    background-image: url('image/seo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.image-gris{
    height: 15vw;
    width: 90%;
    margin-top: -6vw;
}
.image-a{
    height: 100%;
    width: 48%;
}
.pink{background-image: url('image/modele.png');}
.photo{background-image: url('image/phototgraphe.png');}
.image-b{
    height: 100%;
    width: 48%;
}
.emg{background-image: url('image/EMG.png');}
.lorem{background-image: url('image/fleur.png');}
/*fin section gris*/


/*debut section temoignage*/
.temoignage{
    height: 46vw;
    width: 100vw;
}
.temoignage-a{
    height: 30vw;
    width: 80%;
}
.temoignage-a-G{
    height: 100%;
    width: 35vw;
    position: relative;
    left: -7vw;
    background-image: url('image/Group\ 13.png');
}

.temoignage-a-D{
    height: 70%;
    width: 40vw;
    align-items: flex-start;
}
/*fin section temoignage*/


/*debut section s'abonner*/
.s-abonner{
    height: 40vw;
    width: 100vw;
}
.sabonner{
    height: 50%;
    width: 80%;
    position: relative;
    border-radius: 20px;
    background-color: #ECEDF3;
    justify-content: space-around;
}
.abonner{
    align-items: flex-start;
    position: absolute;
    padding-left: 3vw;
    height: 50%;
    width: 44%;
    left: 0vw;
}
.form-abonner{
    width: 75%;
    height: 5vw;
}
.email-abonner{
    width: 60%;
    border: none;
    background-color: white;
}
.bouton-abonner{
    border: none;
    color: white;
    background-color: #ED7F10;
    cursor: pointer;
}
.facebook2{
    position: absolute;
    border: 1px solid rgba(159, 159, 159, 0.54);
    box-shadow:1px 1px 5px rgba(85, 85, 85, 0.653);
    height: 85%;
    width: 22%;
    right: 23vw;
    top: 6vw;
    border-radius: 10px;
    justify-content: space-evenly;
    background-color: white;
}
.linkeding{
    position: absolute;
    border: 1px solid rgba(159, 159, 159, 0.54);
    box-shadow:1px 1px 5px rgba(85, 85, 85, 0.653);
    height: 85%;
    width: 22%;
    right: 3vw;
    bottom: 6vw;
    border-radius: 10px;
    justify-content: space-evenly;
    background-color: white;
}
.hr-abonner{
    height: 35%;
    width: 100%;
}
.hr1{
    height: 1vw;
    width: 70%;
    border: transparent;
    margin-bottom: 1vw;
    border-radius: 50px;
    background-color: #ECEDF3;
}
.hr2{
    height: 1vw;
    width: 45%;
    border: transparent;
    border-radius: 50px;
    background-color: #ECEDF3;
}
/*fin section s'abonner*/





























