/*propriete media quere desktop*/
@media screen and (min-width: 601px) {
    .fin-g1, .h1-foot1,.h4-projet1, .h1-mission1, .menu, .p-bas-header1, .h4-strategie1, .p-strategie1, .h4-service1, .p-services1{
        display: none;
    }
}


/*fin media quere desktop*/




/*propriete media quere mobile*/
@media screen and (max-width: 600px) {
    /*display none*/
    .fin-g1,.fin-d, .fin-d1, .h1-foot,.linkeding, .facebook2, .projet-b-D,.h4-projet, .h1-mission, .b1, .p-bas-header, .header-b, .h4-strategie, .p-strategie, .h4-service, .p-services, .h4-valeure{
            display: none;
        }
    ul, label{
        display: none;
    }
    /*fin display none*/


    /*proprietées*/
    .police-p{
        font-size: 2.5vw;
        line-height: 4vw;
    }
    .white{
        font-size: 2.5vw;
        line-height: 4vw;
        color: white;
    }
    .police-degradé{
        font-size: 2vw;
        line-height: 4vw;

        color: rgba(0, 0, 0, 0.447);
    }
    .white-degradé{
        font-size: 2.5vw;
        line-height: 4vw;
        color: rgba(255, 255, 255, 0.447);
    }
    .orange{
        color: #ED7F10;
        font-size: 3vw;
        letter-spacing: 2px;
    }
    .titre{
        font-size: 6vw;
    }
    .reseaux{
        height: 5vw;
        width: 5vw;
    }
    .reseaux1{
        height: 2.7vw;
        width: 2.7vw;
    }
    .titre1{
        font-size: 5vw;
    }
    .rectangle{
        padding-left: 3vw;
        height: 48vw;
        width: 40vw;
        border-radius: 2vw;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .cercle1{
        height: 22vw;
        width: 22vw;
        border-radius: 100%;
    }
    .cercle2{
        height: 12vw;
        width: 12vw;
        border: 0.4vw solid rgba(0, 0, 0, 0.615);
        border-radius: 100%;
        cursor: pointer;
    }
    .rectangle1{
        padding-left: 0vw;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 40vw;
        width: 35vw;
        flex-direction: column;
    }
    .rectangle2{
        padding-left: 0vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        align-items: flex-start;
        height: 20vw;
        width: 30vw;
    }
    .champ{
        width: 60vw;
        height: 5vw;
        border: 1px solid rgba(0, 0, 0, 0.447);
    }
    .icon-valeure{
        height: 5vw;
        width: 5vw;
    }
    .icon-service{
        height: 10vw;
        width: 10vw;
    }
    .icon-services{
        height: 8vw;
        width: 8vw;
    }
    .sous-titre{
        font-size: 4vw;
    }
    .sous-titre1{
        font-size: 3vw;
        color: black;
    }
    .icone-footer{
        height: 6vw;
        width: 6vw;
        border: none;
        border-radius: 100%;
        background-color: #6F7398;
    }
    /*fin propriete*/


    /*debut du header*/
    header{
        height: 130vw;
        background-size: cover;
        background-repeat: no-repeat;
    }
    nav{
        height: 20vw;
    }
    .logo{
        height: 17vw;
        width: 25vw;
        cursor: pointer;
        transform: translateX(4vw);
    }
    .b1{
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        color: white;
        transform: none;
    }
    .p1{
        color: white;
        transform: translateX(9vw);
        cursor: pointer;
        font-size: 3vw;
    }
    .langue{
        cursor: pointer;
        height: 3vw;
        width: 3vw;
    }
    select{
        transform: translateX(-10vw);
    
    }

    .menu{
        width: 10vw;
        height: 10vw;
        transform: translateX(-8vw);
    }
/*fin nav bar*/


/*debut contenaire header*/
    .contenaire-header{
        height: 110vw;
    }
    .header-a{
        height: 100vw;
        flex-direction: column-reverse;
        width: 100vw;
        justify-content: space-evenly;

    }
    .header-a-gauche{
        height: 55vw;
        width: 60vw;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .header-a-droite{
        height: 50vw;
        width: 60vw;
    }
    .p-header1{
        color: white;
    }
    .bas-header{
        height: 8vw;
        width: 50vw;
    }
    .button-heder{
        color: white;
        padding: 2vw;
    }
    .play{
        height: 7vw;
        width: 7vw;
        transform: translateX(1vw);
    }
    .p-bas-header1{
        color: white;
    }
/*fin du header*/


/*debut de strategie*/
    .strategie{
        flex-direction: column;
        justify-content: space-evenly;
        height: 160vw;
        width: 100vw;
    }
    .strategie-G{
        height: 50vw;
        width: 80vw;
    }
    .strategie-G1{
        position: relative;
        height: 50vw;
        width: 46vw;
        top: 10vw;
        left: -4vw;
        border-radius: 2vw;
        background-color: #ECEDF3;
    }
    .img-strategie{
        position: absolute;
        height: 48vw;
        width: 70vw;
        left: -7vw;
        top: 3vw;
    }
    .strategie-D{
        justify-content: space-evenly;
        align-items: flex-start;
        height: 70vw;
        width: 60vw;
    }
/*fin de strategie*/


/*debut de la section service*/
.services{
    height: 180vw;
    width: 100vw;
}
.services-a{
    height: 25vw;
    width: 60vw;
    align-items: flex-start;
    flex-direction: column;
}
.services-b{
    height: 150vw;
    align-items: flex-start;
    width: 60vw;
    transform: none;
    flex-direction: column;
}
.anal{
    border: 2vw solid #FAB472;
}
.planif{
    border: 2vw solid #E963A4;
}
.market{
    border: 2vw solid #B4C7E7;
}
/*fin de la section service*/


/*debut de la section valeure*/
.valeure{
    height: 150vw;
    width: 100vw;
}

.valeureb{
    height: 145vw;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
}
.valeureb1{
    height: 145vw;
    width: 90vw;
    justify-content: space-evenly;
    flex-direction: column;
}
.valeureb2{
    height: 145vw;
    width: 90vw;
    justify-content: space-evenly;
    flex-direction: column;

}
.traffi1{border: 0.8vw solid #74A2D6;}
.reputation1{border: 0.8vw solid  #F7D06F;}
.conversion1{border: 0.8vw solid #EF86B0;}
.Customers1{border: 0.8vw solid #B4C7E7;}
.Marketing1{border: 0.8vw solid #74A2D6;}
.Digita1{border: 0.8vw solid #F7D06F;}
/*fin de la section valeure*/


/*debut de la section gris*/
.gris{
    height: 280vw;
    width: 100vw;
    justify-content: space-evenly;
    background-color: #ECEDF3;
    border-radius: 30px;
}
.mission{
    height: 100vw;
    width: 90%;
    flex-direction: column;
}
.mission-G{
    height: 55vw;
    width: 80%;
    padding-left: 2vw;
    align-items: flex-start;
    justify-content: space-evenly;
}
.mission-D{
    height: 40%;
    position: relative;
    width: 35%;
    right: -21vw;
    border-radius: 15px;
    background-color: #DDDFEB;
}
.mission-D-A{
    position: absolute;
    height: 35vw;
    width: 65vw;
    right: 8vw;
    border-radius: 15px;
    background-color: white;
}
/*fin de la section gris*/


/*debut de la section projet*/
.projet{
    height: 105vw;
    width: 100%;
}
.projet-a{
    height: 35vw;
    width: 80%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.projet-a1{
    height: 50%;
    align-items: flex-start;
}
.projet-a2{
    width: 100%;
    justify-content: flex-end;
}
.img-projet1{
    transform: rotateZ(180deg);
}
.projet-b{
    height: 60vw;
    width: 80%;
}
.projet-b-G{
    height: 100%;
    width: 100%;
    border-radius: 15px;

}
.image-gris{
    height: 45vw;
    width: 90%;
    flex-direction: column;
    margin-top: -6vw;
}
.image-a{
    height: 100%;
    width: 80%;
}
.image-b{
    height: 100%;
    width: 80%;
}
/*fin de la section projet*/

/*debut section temoignage*/
.temoignage{
    height: 140vw;
    width: 100vw;
    flex-direction: column;
}
.temoignage-a{
    height: 110vw;
    width: 80%;
    flex-direction: column;
}
.temoignage-a-G{
    height: 50vw;
    width: 60vw;
}

.temoignage-a-D{
    height: 50%;
    width: 60vw;
    align-items: flex-start;
}
/*fin section temoignage*/


/*debut section s'abonner*/
.s-abonner{
    height: 100vw;
    width: 100vw;
}
.sabonner{
    height: 70%;
    width: 80%;
    border-radius: 10px;
    background-color: #ECEDF3;
    justify-content: space-around;
}
.abonner{
    align-items: flex-start;
    padding-left: 7vw;
    align-items: center;
    height: 60%;
    width: 80%;
}
.form-abonner{
    width: 100%;
    height: 50%;
    flex-direction: column;
}
.email-abonner{
    width: 60%;
    border: none;
    padding-left: none;
    height: 8vw;
    width: 87%;
    background-color: white;
}
.bouton-abonner{
    border: none;
    height: 8vw;
    width: 90%;
    cursor: pointer;
}
/*fin section s'abonner*/


/*debut  footer*/
.footer{
    height: 300vw;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: #56597A;
}
.ecrit{
    height: 20vw;
    justify-content: space-evenly ;
}
.h1-foot1{
    text-align: center;
}
.formulair{
    height: 135vw;
    width: 80%;
    border-radius: 10px;
    justify-content: space-evenly;
    background-color: white;
}
.form1{
    height: 80vw;
    width: 80%;
    justify-content: center;
}
.for-a{
    margin: none;
    margin-bottom: 4.5vw;
    height: 18vw;
    flex-direction: column;
}
.prenom{
    align-items: flex-start;
}
.email{
    align-items: flex-start;
}
.service{
    align-items: flex-start;
}
.nom{
    align-items: flex-start;
}
.for-b{
    margin: none;
    height: 18vw;
    flex-direction: column;
}
.message-foot{
    height: 30vw;
    width: 60.5vw;
    margin-top: 3vw;
    border: 1px solid rgba(0, 0, 0, 0.447);

}
.message{
    display: flex;
    align-items: flex-start;
    margin-top: 2vw;
    margin-left: 1vw;
}
.bouton-form{
    margin-top: 4.5vw;
    margin-left: 18vw;
    height: 5vw;
    width: 30vw;
    background-color:#E963A4;
}
.foot-b{
    height: 80vw;
    width: 80vw;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -5vw;
    justify-content: space-between;
}
.pied{
    transform: none;

}
.pied0{
    transform: none;

}
.pied1{
    margin-left: 8vw;
    margin-top: 10vw;
}
.pied-logo{
    height: 8vw;
    width: 14vw;
    transform: translateX(-2vw);
    cursor: pointer;
}
.hr-foot{
    width: 90vw;
    position: relative;
    bottom: 5vw;
    background-color: rgba(255, 255, 255, 0.134);
}
.fin{
    height: 20vw;
    width: 90vw;
    margin-top: -25vw;
    justify-content: center;
    align-items: center;
}
.fin-g{
    text-align: center;
}
/*fin du s'footer*/
}


































